.nav-bar {
    background-color: rgba(0, 100, 0);
}

.nav-item {
    background-color: rgba(247,168,0);
}

.nav-item-selected {
    background-color: rgba(247,168,0);
}

.logo {
    width: 15%;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    background-color: rgba(247,168,0);
}