.nav-bar {
    background-color: rgba(0, 100, 0);
}

.nav-item {
    background-color: rgba(247,168,0);
}

.nav-item-selected {
    background-color: rgba(247,168,0);
}

.logo {
    width: 250px;
}

.nav-bar>a {
    flex: 1;
    text-align: center;
    text-decoration: none !important;
    color: white !important;
}

.nav-bar>a:hover {
    background-color: rgba(247,168,0);
}

.profile-img {
    width: 100px;
    border-radius: 50%;
}

.jcr-cards>.card {
    box-shadow: 10px 10px 30px -10px rgb(200, 197, 197);
}